<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="./styles.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />

</head>

<body>

  <div class="page-container">
    <div class='page-header'>
      <div>รายงานสรุปผลคะแนนการตรวจราชการ</div>
      <div>หน่วยรับการตรวจ บก./ภ.จว. ................. บช./ภ. ....................</div>
      <div>
        <span>โดย กต. ........ จต.</span> <span>ประจำเดือน .......๒๕๖๓</span>
      </div>
    </div>
    <div class='table-container'>
      <table>

        <tr>
          <th style='border-bottom: 0px;vertical-align: bottom;'>aaaaa</th>
          <th style='border-bottom: 0px;width:30%;vertical-align: bottom;'>กหกกดกด<br>(สน./สภ.)</th>
          <th colspan="2">นรากรกรกร</th>
          <th colspan="2">บริการทั่วไป</th>
          <th colspan="2">บริการทั่วไปบริการทั่วไป</th>
          <th colspan="2">ปลอดภัยในชีวิตปลอดภัยในชีวิตปลอดภัยในชีวิต</th>
          <th colspan="2">ปลอดภัยในชีวิตปลอดภัยในชีวิต</th>
          <th colspan="2">ปลอดภัยในชีวิตปลอดภัยในชีวิต</th>
          <th style='border-bottom: 0px'>ปลอดภัยในชีวิต</th>
          <th style='border-bottom: 0px'>กกกกกกก ๑๒๓๔๕๖</th>
        </tr>
        <tr class='sub-header'>
          <th style='border-top: 0px;'></th>
          <th style='border-top: 0px;'></th>
          <th>เต็ม ๑,๐๐๐</th>
          <th>ร้อยละ</th>

          <th>ผลตรวจ (๒๐๐)</th>
          <th>ความพร้อม (๒๐)</th>

          <th>ผลตรวจ (๓๐๐)</th>
          <th>ความพร้อม (๓๐)</th>

          <th>ผลตรวจ (๓๐๐)</th>
          <th>ความพร้อม (๓๐)</th>

          <th>ผลตรวจ (๑๐๐)</th>
          <th>ความพร้อม (๑๐)</th>

          <th>ผลตรวจ (๑๐๐)</th>
          <th>ความพร้อม (๑๐)</th>

          <th style='border-top: 0px'></th>
          <th style='border-top: 0px'></th>

        </tr>
        <tr>
          <td>๑</td>
          <td style='text-align:left'>สภ.เมืองชัยนาท</td>
          <td>๑๐๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>




        </tr>
        <tr>
          <td>๑</td>
          <td style='text-align:left'>สภ.เมืองชัยนาท</td>
          <td>๑๐๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>
          <td>๑๐๐.๐๐</td>



    </div>

  </div>

</body>





</html>